.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 70px;
  /* Updated Font Styles */
  color: #B89058;
  font-size: 0.9em; /* Slightly increased for better readability with serif fonts */
}

h1 {
  margin: 0 0 10px 0;
  font-family: 'BrittanySignature', cursive;
  font-weight: normal;
  letter-spacing: 2px;
  color: #fff;
  font-size: 35px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-style: italic;
  color: #fff;
}

.guest-greeting {
  color: #fff;
}

.welcome-screen {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  /* Updated Font Styles */
  color: #B89058;
  font-size: 0.8em;
  padding-bottom: 60px !important;
}


.welcome-screen p {
  letter-spacing: 1px;
}

.welcome-screen h3 {
  font-size: 1.2rem;
}