* {
  box-sizing: border-box;
}

html, body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
}

body::before {
  background-image: url(/img/img1.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-position: fixed;
  width: 100%;
  max-width: 750px;
  height: 100%;
  content: '';
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

body > * {
  z-index: 2;
}

.pad-20 {
  padding: 20px;
}
